﻿body {
}
/*Bootstrap overrinding*/

.btn{
    width: 100%;
}

.btn:hover {
    width: 100%;
    background-color: dodgerblue;
    cursor: pointer;
}

.badge{
    width: 100%;
    background-color: white;
    color: #007bff;
    font: bold 14px verdana, verdana;
}

.badge:hover{
    color: dodgerblue;
}

/*Our own CSS code*/

.validator-text{
    color: grey;
    font: bold 14px verdana, verdana;
}

.form-lbl {
    font: bold 14px verdana, verdana;
    color: #007bff;
}