﻿body, html {
    height: 100%;
    width: 100%;
    background-color: white;
}

.lgn-form{
    height: 100%;
    width: 100%;
    background-color: white;
}

.centered-box{
    padding: 10px;
    margin: 5% 25% 10% 25%;
    border-radius: 5px;
}

.msg-lbl{
    color: gray;
    font: bold 14px verdana, verdana;
}