﻿body {
}

/*Bootstrap override*/

/*Our own CSS code*/

.header-text{
    font: bold 40px verdana, vernada;
    position: absolute;
    bottom: 0;
}

.footer-text{
    font: bold 15px verdana, vernada;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.form-box{
    padding: 10px;
    margin: 2%;
}

.menu-box{
    margin-top: 10%;
    border-right: 1px solid grey;
}

.page-content-box{
    margin: 2%;
}
